.container {
    max-width: 500px;
    margin: 20px auto;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  fieldset {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  
  legend {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  label {
    margin-bottom: 5px;
    display: block;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }

  progress {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
