.header-container {
    display: flex;
}

.logo img {
    height: 50px;
    margin-top: 15px;
}

.title h1 {
    font-family: Days one;
    color: #000000;
    text-shadow: 2px 1px 5px rgb(198, 190, 255);
    
}

.title span {
    color: rgb(184, 0, 0);
 
}



@media screen and (max-width:400px) {
    .header-container {
        display: flex;
    }

    .title h1 {
        font-size: 20px;
    }

    .logo img {
        margin-top: 6px;
    }
}