.App {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;

}
.divider {
    border: 2px solid black;
    border-image: linear-gradient(to left,#ffffff, #d0f4d0);
    border-image-slice: 1; 
}


/* .Form {
    border: 2px solid black;
}

.Preview {
    background-color: aliceblue;
    height: 1000px;
} */

@media screen and (max-width:400px) {
    .App {
        display: flex;
        flex-direction: column;
    }
}